<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    {% extends 'layout.html'%} 
    {% block content %}
    <h1>UPDATE ARTICLE DJANGO</h1>
    {% if messages %} 
        {% for message in messages %}
            <div class="message">{{message}}</div>
        {% endfor %} 
    {% endif %}  
    {{form.as_p}}

    {% endblock %}
  </body>
</html>
